extends layout

block title
  | About us

block container
  .focus
  //
     Main hero unit for a primary marketing message or call to action 
  .hero-unit
    img#logo(src='/images/logo-w-name-128p.png')
    h2 Who are we?
    br
    p
      | Well we are two extremely smart dudes (and handsome too!) who got bored out of their minds and decided to tackle one of the most troubling questions of our time:
    blockquote
      p "How can we get rich the easy way?"
    p
      | Right... Anyhow, since that question is a tough one, we decided to take it easy and moved on to another important question:
    blockquote
      p
        | "How can we determine the relationship between two or more proteins? How can we harness the power of human mind to solve this problem which even the most powerful computers are having trouble solving?"
    p
      | We are hoping that we can at least tackle this one (or rather tricking you into doing it for us)
    p
      | Well, it is not an easy question and it is most certainly a very critical one for modern biology and medicine. Although, we are not looking for an easy answer either. It's the chalange that thrills us at this point.
    p Now, let us briefly introduce ourselves:
    br
    div(style='position: relative; padding: 10px; border: 1px solid #888; border-radius: 6px; box-shadow: 0 10px 8px -6px #555;')
      div(style='float: left; text-align: center; padding-right: 20px; border-right: 1px solid #888;')
        img(src='https://lh3.googleusercontent.com/-edg_anxHHws/AAAAAAAAAAI/AAAAAAAAB3U/QgaPANRWMKg/s200-c-k/photo.jpg', style='border-radius: 6px;')
        h3 B. Arman Aksoy
      div(style='float: left; margin-left: 20px; width: 750px;')
        p
          | PhD student at 
          a(href='http://www.mskcc.org/') Memorial Sloan-Kettering Cancer Center
          | , focusing on Computational Biology and
          | reasearching away how to beat cancer with mind-blowing dedication.
      div(style='clear: both;')  
    br
    br
    div(style='position: relative; padding: 10px; border: 1px solid #888; border-radius: 6px; box-shadow: 0 10px 8px -6px #555;')
      div(style='float: left; text-align: center; padding-right: 20px; border-right: 1px solid #888;')
        img(src='https://lh3.googleusercontent.com/-U81tD1Hb9-I/AAAAAAAAAAI/AAAAAAAABb0/e4nWURV1Zxo/s200-c-k/photo.jpg', style='border-radius: 6px;')
        h3(style='text-shadow: 0 1px 1px white;') A. Erman Celen
      div(style='float: left; margin-left: 20px; width: 750px;')
        p
          | Master's student at 
          a(href='http://cs.brown.edu') Brown University Computer Science Department 
          | and Software Engineer
          | at 
          a(href='http://www.simulia.com') SIMULIA
          | , focusing on anything that grabs his interest but mostly
          | software development, distributed systems and game programming.
      div(style='clear: both;')  
    div(style='clear: both;')  
