doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title
        block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le styles 

    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/bootstrap/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/bootstrap/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/bootstrap/ico/apple-touch-icon-57-precomposed.png')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') PathGame
          .nav-collapse
           ul.nav.pull-right
             li.dropdown
               a.dropdown-toggle(href='#menu1', data-toggle='dropdown')
                 | User Profile
                 b.caret
               ul.dropdown-menu
                 li
                   a(href='/user/login') Login
                 li
                   a(href='/user/register') Register
    .container
      block container

    .container
      hr
      footer
        blockquote
          p
            i
              | "They say great science is built on the shoulders of giants - not here. At 
              b PathGame
              |  we do all our science from scratch; no hand holding." -- Pathy Gameson

    script(src='/js/jquery.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/backbone-min.js')

    script(src='/bootstrap/js/bootstrap.min.js')

    script(type='text/javascript', src='/js/arbor.js')
    script(type='text/javascript', src='/js/cytoscape.min.js')
    script(type='text/javascript', src='/js/pathgame.js')

