doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title
        block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le styles 

    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/bootstrap/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/bootstrap/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/bootstrap/ico/apple-touch-icon-57-precomposed.png')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') PathGame
          .nav-collapse
           ul.nav.pull-right
             li.dropdown
               a.dropdown-toggle(href='#menu1', data-toggle='dropdown')
                 | User Profile
                 b.caret
               ul.dropdown-menu
                 li
                   a(href='/user/login') Login
                 li
                   a(href='/user/register') Register
    .container
      block container

    .container
      hr
      footer
        blockquote
          p
            i
              | "They say great science is built on the shoulders of giants - not here. At 
              b PathGame
              |  we do all our science from scratch; no hand holding." -- Pathy Gameson

    script(src='/js/jquery.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/backbone-min.js')

    script(src='/bootstrap/js/bootstrap.min.js')

    //
       CytoscapeWeb Flash Prep START 
    //
       JSON support for IE (needed to use JS API) 
    script(type='text/javascript', src='/cytoscape_web/js/min/json2.min.js')
    //
       Flash embedding utility (needed to embed Cytoscape Web) 
    script(type='text/javascript', src='/cytoscape_web/js/min/AC_OETags.min.js')
    //
       Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) 
    script(type='text/javascript', src='/cytoscape_web/js/min/cytoscapeweb.min.js')
    //
       CytoscapeWeb Flash Prep END 
    script(type='text/javascript')
      $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
      $('.focus').hide();
      $('.focus').each( function() {
      if( $(this).html().length > 0 ) {
      $(this).addClass("alert alert-success");
      var closeButton =  $("<a data-dismiss='alert'>").addClass("close").html("x");
      $(this).prepend(closeButton);
      $(this).delay(500).slideDown().delay(4000).fadeOut();
      }
      });
      $('.error').each( function() {
      $(this).addClass("alert alert-error");
      });
      });
      window.onload=function() {
      // id of Cytoscape Web container div
      var div_id = "cytoscapeweb";
      // you could also use other formats (e.g. GraphML) or grab the network data via AJAX
      var networ_json = {
      data: {
      nodes: [ { id: "1" }, { id: "2" }, { id: "3" }, { id: "4" }, { id: "5" } ],
      edges: [ { id: "1to2", target: "2", source: "1" },
      { id: "2to3", target: "3", source: "2" },
      { id: "2to4", target: "4", source: "2" },
      { id: "2to5", target: "5", source: "2" } ]
      }
      };
      // initialization options
      var options = {
      // where you have the Cytoscape Web SWF
      swfPath: "/cytoscape_web/swf/CytoscapeWeb",
      // where you have the Flash installer SWF
      flashInstallerPath: "/cytoscape_web/swf/playerProductInstall"
      };
      // init and draw
      var vis = new org.cytoscapeweb.Visualization(div_id, options);
      vis.draw({ network: networ_json, layout: "Tree" });
      vis.ready( function() {
      vis.visualStyle({ nodes: { borderColor: "#ffffff", color: "#0970cb", size: 35 }, edges: { color: "#49d6e5", width: 5 } });
      });
      };

